<h1>Implementation Details</h1>
    <ul>
        <li>Api
            <ul>
                <li>Api has Global Error Handler</li>
                <li>used Data Annotations for validations, used IValidatableObject to validate DOB. We can use Custom Validation Attribute if this validation logic needs to be re used</li>
                <li>Added Custom Middleware for exceptions</li>
                <li>Implemented logging using Serilog.Logs are present in <strong>bin</strong> folder of api</li>
                <li>As We need to use Self Contained data source, used json file and it is in <strong>bin</strong> folder</li>
            </ul>
        </li>
        <li>Angular
            <ul>
                <li>Used Angular Material Components</li>
                <li>used Global Error Handler</li>
                <li>UI has scope of improvement.</li>                
            </ul>
        </li>
    </ul>
